.character {
    min-height: 15vw;
    text-align: center;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    border: .25px solid black;
    padding: 10px;
    background: url(../../resources/parchment.jpg);
    font-size: 125%;
}

a {
    text-decoration: none;
}

.name {
    font-weight: bolder;
    font-size: 150%;
}

.character:hover {
  transform: scale(1.05);
 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
