main {
  font-family: "Cormorant Unicase", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-container {
  margin-top: 5vw;
  padding: 3vw;
  background: url(../../resources/parchment.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 5px;
  opacity: 0.9;
}

h2 {
  font-size: 300%;
}

.entry-text {
  font-size: 250%;
}

.practice-text {
  margin-top: 2vw;
  font-size: 150%;
}

.link {
  text-decoration: none;
  transform: scale(1);
  color: black;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}

.begin {
  animation: pulse 3s infinite;
  text-shadow: -1px 1px 8px black, 1px -1px 8px #fff;
}

.link:hover {
  transform: scale(1.2);
  color: #fff;
  text-shadow: -1px 1px 8px black, 1px -1px 8px #fff;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.95);
  }
}

.error-msg {
  color: red;
  background-color: white;
}
