main {
  font-family: "Cormorant Unicase", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

/* ////////////////////////////////////////////////////// */
/* NAVBAR */

nav {
  display: flex;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding-left: 5vw;
  padding-right: 5vw;
}

.nav-link:hover {
  transform: scale(1.2);
}
