main {
  font-family: "Cormorant Unicase", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.quote-container {
  /* background: url(../../resources/parchment.jpg); */
  width: 50vw;
  text-align: center;
  margin-top: 15vw;
  background-color: black;
}

h2 {
  color: white;
}

h3 {
  color: white;
}
