main {
  font-family: "Cormorant Unicase", serif;
}

.background-image {
  background: url(../../resources/green-dragon-bg.jpeg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
