.card {
  box-sizing: border-box;
  border: 0.25px solid black;
  padding: 2vw;
  background: url(../../resources/parchment.jpg);
  font-size: 100%;
  font-weight: bolder;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
