.characters-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.click-here {
  color: white;
  text-align: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
