nav {
  display: flex;
}

.nav-link {
  color: white;
  text-decoration: none;
  /* padding-left: 5vw; */
  padding-right: 5vw;
  text-shadow: none;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
  font-size: 150%;
}

.nav-link:hover {
  transform: scale(1.3);
  color: #fff;
  text-shadow: -1px 1px 8px goldenrod, 1px -1px 8px #fff;
}

@media screen and (min-width: 1200px) {
  .nav-link {
    font-size: 250%;
  }
}
