.options-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.who {
  font-size: 225%;
}

.quote-container {
  width: 95vw;
}

.quote-text {
  font-size: 175%;
}

.response {
  font-size: 225%;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
