.options-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.who {
  font-size: 150%;
}

.quote-container {
  width: 90vw;
}

.quote-text {
  font-size: 150%;
}

.response {
  font-size: 150%;
}

@media screen and (min-width: 1200px) {
  .options-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
